@charset "UTF-8";
.full-page__heading h1 span, .pb-block-images img {
  display: block !important;
}

.header-main .nav-link, .header-main__mobile-nav, .full-page__bg, .accordion a[data-bs-toggle="collapse"], .horizontal-tabs .dropdown [class*="btn-"],
.vertical-tabs .dropdown [class*="btn-"], .input-filter-container, .sticky-sharing, .sticky-sharing a:not(.sticky-sharing__back), .carousel-text__item {
  display: flex !important;
}

.dropdown-main .btn, .list-header--inline-border {
  display: inline-flex !important;
}

.collapse-main .collapse__content {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.breadcrumb, .accordion a[data-bs-toggle="collapse"], .form-check {
  position: relative !important;
}

.accordion a[data-bs-toggle="collapse"]::before {
  position: absolute !important;
}

.header-main {
  position: sticky !important;
}

.header-main .navbar-main .dropdown-menu .row-main {
  flex-direction: column !important;
}

.carousel-text__item:nth-child(odd) {
  flex-direction: row-reverse !important;
}

.input-filter-container, .carousel-text__item {
  flex-wrap: wrap !important;
}

.breadcrumb {
  flex-wrap: nowrap !important;
}

.full-page__bg, .vertical-tabs, .btn, .pagination, .list-nav-tab--horizontal, .sticky-sharing, .sticky-sharing a:not(.sticky-sharing__back) {
  justify-content: center !important;
}

.header-main .nav-link, .header-main__mobile-nav, .dropdown-main .btn, .input-filter-container {
  justify-content: space-between !important;
}

.header-main .nav-link, .header-main__mobile-nav, .full-page__bg, .accordion a[data-bs-toggle="collapse"], .btn, .input-filter-container, .sticky-sharing, .sticky-sharing a:not(.sticky-sharing__back) {
  align-items: center !important;
}

.carousel-text__item:nth-child(even) .carousel-text__text {
  align-self: flex-end !important;
}

.pb-block-images img {
  margin-right: auto !important;
  margin-left: auto !important;
}

.header-main .navbar-main .dropdown-menu .row-main .col-main:first-child {
  margin-top: 1rem !important;
}

.btn-container.text-right [class*="btn-"],
.btn-container [class*="btn-"]:not(:last-child) {
  margin-right: 1rem !important;
}

.header-main .nav-link[class*="btn-"], .breadcrumb, .accordion a[data-bs-toggle="collapse"] h4, .list-header--inline-border, .pb-text-block ul *,
.pb-text-block ol *, .pb-text-block ul li,
.pb-text-block ol li, .article-body ul:not(.slick-dots) *,
.article-body ol:not(.slick-dots) *, .article-body ul:not(.slick-dots) li,
.article-body ol:not(.slick-dots) li {
  margin-bottom: 0rem !important;
}

.header-main .navbar-main .dropdown-menu .row-main .col-main, .btn-container [class*="btn-"] {
  margin-bottom: 1rem !important;
}

.full-page__heading h1, .full-page__heading p:not(:last-child), .accordion .accordion__item:not(:last-child) {
  margin-bottom: 2rem !important;
}

.full-page__content h2 {
  margin-bottom: 3rem !important;
}

.dropdown-main .btn {
  text-align: left !important;
}

.full-page__content h2 {
  text-align: center !important;
}

.pagination .page-link {
  text-transform: uppercase !important;
}

@media (min-width: 768px) {
  .sticky-sharing {
    flex-direction: column !important;
  }
}

@media (min-width: 992px) {
  .header-main .nav-link {
    display: block !important;
  }
  .header-main .nav-link .icon-plus, .header-main__mobile-nav {
    display: none !important;
  }
  .header-main .navbar-main .dropdown-menu .row-main {
    flex-direction: row !important;
  }
  .header-main .navbar-main .dropdown-menu .row-main {
    justify-content: center !important;
  }
  .header-main .navbar-nav {
    align-items: center !important;
  }
  .header-main .navbar-main .dropdown-menu .row-main .col-main:first-child {
    margin-top: 0rem !important;
  }
  .header-main .navbar-main .dropdown-menu .row-main .col-main {
    margin-bottom: 0rem !important;
  }
}

.container, .container-slim--1col, .container-slim--2col, .container-slim--3col,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 1.5rem);
  padding-left: var(--bs-gutter-x, 1.5rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-slim--1col, .container-slim--2col, .container-slim--3col, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-slim--1col, .container-slim--2col, .container-slim--3col, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-slim--1col, .container-slim--2col, .container-slim--3col, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-slim--1col, .container-slim--2col, .container-slim--3col, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container, .container-slim--1col, .container-slim--2col, .container-slim--3col, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

.carousel-text__item {
  margin-right: 0;
  margin-left: 0;
}

.carousel-text__item > .col,
.carousel-text__item > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 575.98px) {
  .mt-6, .mt-7, .mt-8, .mt-9, .mt-10, .mt-11, .mt-12, .mt-13, .mt-14, .mt-15 {
    margin-top: 6rem !important;
  }
  .mb-6, .mb-7, .mb-8, .mb-9, .mb-10, .mb-11, .mb-12, .mb-13, .mb-14, .mb-15 {
    margin-bottom: 6rem !important;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #FAF3F3;
}

html,
body {
  scroll-behavior: smooth;
}

/*To disable scrolling of content body on mobile when navigation active*/
body.active {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

/*Disable focus*/
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  border: 0.1rem solid #ddd !important;
  outline-offset: -0.2rem;
  -webkit-appearance: checkbox !important;
}

input[type="file"]:focus {
  outline: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}

textarea:focus,
input:focus {
  outline: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}

/*Setting of paragraph*/
p {
  margin: 0 0 2.5rem;
}

p:last-child {
  margin-bottom: 0;
}

/*Reset ol, ul and dl margin-bottom*/
ol,
ul,
dl {
  margin-bottom: 2.5rem;
}

/*Link colour setting for site-wide*/
a {
  text-decoration: none;
  color: #ff3c00;
}

a:hover {
  text-decoration: none;
  color: #a73411;
}

a:focus {
  outline: 0 !important;
}

body, .header-main .nav-link, .btn {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5, .full-page__heading h1 {
  font-family: 'Fuggles', cursive;
}

h1,
h2,
h3,
h4,
h5 {
  color: #DA7F8F;
}

body {
  color: #A7BBC7;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 3rem;
  line-height: 1.3;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

@media (min-width: 992px) {
  h1,
  h2 {
    line-height: 1.1;
  }
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 8rem;
  }
  h3 {
    font-size: 6rem;
  }
  h4,
  h5 {
    font-size: 5rem;
  }
}

.oly--10, .oly--20, .oly--30, .oly--40, .oly--50, .oly--60, .oly--gradient-10, .oly--gradient-20, .oly--gradient-30, .oly--gradient-40, .oly--gradient-50, .oly--gradient-60 {
  position: relative;
  z-index: 1;
}

.oly--10:before, .oly--20:before, .oly--30:before, .oly--40:before, .oly--50:before, .oly--60:before, .oly--gradient-10:before, .oly--gradient-20:before, .oly--gradient-30:before, .oly--gradient-40:before, .oly--gradient-50:before, .oly--gradient-60:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.oly--10:before {
  background-color: rgba(0, 0, 0, 0.1);
}

.oly--20:before {
  background-color: rgba(0, 0, 0, 0.2);
}

.oly--30:before {
  background-color: rgba(0, 0, 0, 0.3);
}

.oly--40:before {
  background-color: rgba(0, 0, 0, 0.4);
}

.oly--50:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.oly--60:before {
  background-color: rgba(0, 0, 0, 0.6);
}

.oly--gradient-10:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.oly--gradient-20:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.oly--gradient-30:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.oly--gradient-40:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.oly--gradient-50:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.oly--gradient-60:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 3rem;
}

.slick-dots {
  position: absolute;
  bottom: -3rem;
  display: block;
  width: 100%;
  padding: 0 !important;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button::before {
  color: #E1E5EA;
  transition: color 0.15s ease-in-out;
}

@media (min-width: 992px) {
  .slick-dots li:hover button::before {
    color: #DA7F8F;
  }
}

.slick-dots li.slick-active button:before {
  color: #DA7F8F;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover::before, .slick-dots li button:focus::before {
  opacity: 1;
}

.slick-dots li button::before {
  font-family: "slick";
  font-size: 3.5rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
}

.header-main {
  top: 0;
  z-index: 1020;
  transition: top 0.15s 0.5s ease-in-out;
  height: 11.9rem;
  background-color: #f0f0f0;
}

@media (min-width: 992px) {
  .header-main {
    height: 7.5rem;
  }
}

.nav-hide .header-main,
.nav-hidden .header-main {
  top: -11.9rem;
}

@media (min-width: 992px) {
  .nav-hide .header-main,
  .nav-hidden .header-main {
    top: -7.5rem;
  }
}

.header-main__navbar {
  background-color: #f0f0f0;
  padding: 2.5rem 1rem;
  transition: background 0.15s ease-in-out;
}

@media (min-width: 992px) {
  .header-main__navbar {
    padding: 0 3rem;
  }
}

@media (max-width: 767.98px) {
  .header-main .navbar-toggler {
    padding: 0;
  }
  .header-main .navbar-toggler ~ .navbar-collapse {
    position: fixed;
    top: 11.9rem;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    transition: max-height 0.25s ease-in-out;
  }
  .header-main .navbar-toggler ~ .navbar-collapse:not(.show) {
    display: block;
  }
  .header-main .navbar-toggler ~ .navbar-collapse.show {
    overflow: auto;
  }
  .header-main .navbar-toggler[aria-expanded="true"] ~ .navbar-collapse {
    max-height: 100%;
  }
  .header-main .navbar-toggler[aria-expanded="true"] ~ .navbar-collapse .navbar-main {
    height: calc(100vh - 11.9rem);
    padding-bottom: 16rem;
    overflow: auto;
  }
}

.header-main .navbar-nav {
  padding-left: 0 !important;
}

@media (max-width: 767.98px) {
  .header-main .navbar-nav:first-child .nav-item:first-child .nav-link {
    border-top: solid 1px #c6c6c6;
  }
  .header-main .navbar-nav .nav-link {
    border-bottom: solid 1px #c6c6c6;
  }
}

.header-main .navbar-nav:not(.navbar-main) .nav-link::before {
  content: none !important;
}

.header-main .nav-item:not([class*="btn-"]) .nav-link.active::before {
  background-color: #ff3c00;
}

@media (min-width: 992px) {
  .header-main .nav-item:not([class*="btn-"]):hover .nav-link::before, .header-main .nav-item:not([class*="btn-"]):focus .nav-link::before, .header-main .nav-item:not([class*="btn-"]):active .nav-link::before {
    background-color: #ff3c00;
  }
}

@media (min-width: 992px) {
  .header-main .nav-item:not(:last-child) {
    padding-right: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .header-main .nav-item:not(:last-child) {
    padding-right: 2.5rem;
  }
}

.header-main .nav-link {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
  position: relative;
}

.header-main .nav-link:not([class*="btn-"]) {
  color: #153249;
}

@media (min-width: 992px) {
  .header-main .nav-link {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .header-main .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.4rem;
    background-color: transparent;
  }
}

@media (min-width: 992px) {
  .header-main .nav-link[class*="btn-"] {
    padding: 1rem 2rem;
  }
}

@media (min-width: 992px) {
  .header-main .navbar-main .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.header-main .navbar-main .dropdown .nav-link {
  transition: color 0.15s ease-in-out;
}

@media (max-width: 767.98px) {
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="false"] {
    transition: all 0.15s ease-in-out;
  }
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="false"] .icon-plus:before,
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="false"] .icon-plus:after {
    transition: all 0.15s ease-in-out;
  }
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="false"] + .dropdown-menu {
    transition: max-height 0.175s ease-in-out;
  }
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="true"] {
    transition: all 0.15s ease-in-out;
  }
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="true"] .icon-plus:before,
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="true"] .icon-plus:after {
    transition: transform 0.15s ease-in-out;
  }
}

.header-main .navbar-main .dropdown-menu {
  background-color: #ff3c00;
  margin-top: 0;
  border: 0;
  border-radius: 0;
  top: 100%;
}

@media (min-width: 992px) {
  .header-main .navbar-main .dropdown-menu {
    min-width: 25rem;
    padding: 2rem 1.5rem;
  }
  .header-main .navbar-main .dropdown-menu.show {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header-main .navbar-main .dropdown-menu {
    display: block;
    padding: 0 2rem;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-in-out;
  }
  .header-main .navbar-main .dropdown-menu.show {
    max-height: 90rem;
  }
}

.header-main .navbar-main .dropdown-menu a {
  color: #fff;
}

.header-main .navbar-main .dropdown-item {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.7rem 0;
  white-space: normal;
  line-height: 1.4;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: color 0.15s ease-in-out;
}

.header-main .navbar-main .dropdown-item:hover, .header-main .navbar-main .dropdown-item:focus, .header-main .navbar-main .dropdown-item:active {
  background: none;
}

.header-main .navbar-main .dropdown-item:focus {
  color: #a73411;
  background: none;
}

@media (min-width: 992px) {
  .header-main .navbar-main .dropdown-item:hover {
    color: #a73411;
    background: none;
  }
}

@media (max-width: 767.98px) {
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="true"] {
    background-color: #ff3c00;
    border-color: #ff3c00;
    color: #fff !important;
  }
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="true"] .icon-plus:before,
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="true"] .icon-plus:after {
    background-color: #fff;
  }
  .header-main .navbar-main .dropdown .nav-link[aria-expanded="true"] .icon-plus:after {
    transform: none;
  }
}

@media (max-width: 991.98px) {
  .header-main .navbar-side .nav-item.dropdown .btn,
  .header-main .navbar-side .nav-item.dropdown .nav-link,
  .header-main .navbar-side .nav-item [class*="btn-"] {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header-main .navbar-side {
    display: none;
  }
}

.header-main .navbar-side .dropdown .nav-link {
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
}

@media (min-width: 992px) {
  .header-main .navbar-side .dropdown .nav-link {
    border-bottom: none;
  }
}

.header-main .navbar-side .dropdown-menu {
  left: unset;
  right: 0;
  top: 75%;
  border: none;
  border-radius: 0;
  background-color: #ff3c00;
}

@media (min-width: 992px) {
  .header-main .navbar-side .dropdown-menu {
    text-align: right;
    padding: 2rem 1.5rem;
  }
}

.header-main .navbar-side .dropdown-item {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 992px) {
  .header-main .navbar-side .dropdown-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-main .navbar-side .dropdown-item:hover, .header-main .navbar-side .dropdown-item:focus, .header-main .navbar-side .dropdown-item:active {
  background: transparent;
}

.header-main__mobile-nav {
  background-color: #153249;
  padding: 0.5rem 1rem;
}

.header-main__mobile-nav .dropdown .nav-link {
  padding: 0 !important;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.1rem;
}

.header-main__mobile-nav .dropdown-menu {
  top: 100% !important;
  right: 0 !important;
  left: unset !important;
  border-radius: 0;
  background-color: #153249;
  text-align: right;
  transform: none !important;
}

.header-main__mobile-nav .dropdown-item {
  color: #fff;
  font-size: 1.1rem;
}

.full-page__bg {
  padding: 6rem !important;
  background-image: url("https://picsum.photos/id/1005/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 992px) {
  .full-page__bg {
    position: sticky;
    height: 100vh;
    top: 0;
  }
}

.full-page__heading {
  color: #fff;
  text-align: center;
}

.full-page__heading h1 {
  font-size: 8rem;
  line-height: 6rem;
}

@media (min-width: 768px) {
  .full-page__heading h1 {
    font-size: 14rem;
    line-height: 11rem;
  }
}

.full-page__heading p {
  text-transform: uppercase;
  letter-spacing: .8rem;
}

@media (min-width: 768px) {
  .full-page__heading p {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .full-page__content {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  .container-slim--1col {
    padding-left: 91.66667px;
    padding-right: 91.66667px;
  }
}

@media (min-width: 1200px) {
  .container-slim--1col {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: 1400px) {
  .container-slim--1col {
    padding-left: 125px;
    padding-right: 125px;
  }
}

@media (min-width: 992px) {
  .container-slim--2col {
    padding-left: 91.66667px;
    padding-right: 91.66667px;
  }
}

@media (min-width: 1200px) {
  .container-slim--2col {
    padding-left: 205px;
    padding-right: 205px;
  }
}

@media (min-width: 1400px) {
  .container-slim--2col {
    padding-left: 235px;
    padding-right: 235px;
  }
}

@media (min-width: 992px) {
  .container-slim--3col {
    padding-left: 91.66667px;
    padding-right: 91.66667px;
  }
}

@media (min-width: 1200px) {
  .container-slim--3col {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media (min-width: 1400px) {
  .container-slim--3col {
    padding-left: 345px;
    padding-right: 345px;
  }
}

@media (min-width: 992px) {
  .content-slim--1col {
    padding-left: 76.66667px;
    padding-right: 76.66667px;
  }
}

@media (min-width: 1200px) {
  .content-slim--1col {
    padding-left: 95px;
    padding-right: 95px;
  }
}

@media (min-width: 1400px) {
  .content-slim--1col {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: 992px) {
  .content-slim--2col {
    padding-left: 76.66667px;
    padding-right: 76.66667px;
  }
}

@media (min-width: 1200px) {
  .content-slim--2col {
    padding-left: 190px;
    padding-right: 190px;
  }
}

@media (min-width: 1400px) {
  .content-slim--2col {
    padding-left: 220px;
    padding-right: 220px;
  }
}

@media (min-width: 992px) {
  .content-offset--1col {
    padding-left: 76.66667px;
    padding-right: 230px;
  }
}

@media (min-width: 1200px) {
  .content-offset--1col {
    padding-left: 95px;
    padding-right: 285px;
  }
}

.breadcrumb {
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 100%;
  z-index: 10;
}

.breadcrumb a,
.breadcrumb .breadcrumb-item.active,
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #153249;
  transition: color 0.15s ease-in-out;
}

.breadcrumb-item {
  white-space: nowrap;
}

.breadcrumb-item:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .breadcrumb-item:hover a {
    color: #ff3c00;
  }
}

.accordion a[data-bs-toggle="collapse"] {
  width: fit-content;
  width: -moz-fit-content;
  padding-right: 3.5rem;
}

.accordion a[data-bs-toggle="collapse"] h4, .accordion a[data-bs-toggle="collapse"]::before {
  color: #153249;
}

.accordion a[data-bs-toggle="collapse"]::before {
  transition: transform 0.15s ease-in-out;
  content: "\";
  font-weight: 600;
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  right: 0;
  top: 0.5rem;
}

.accordion a[data-bs-toggle="collapse"][aria-expanded="true"]::before {
  transform: rotate(180deg);
}

.accordion .accordion__content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .vertical-tabs {
    margin-left: -4rem;
    margin-right: -4rem;
  }
  .vertical-tabs > [class*="col-"] {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.vertical-tabs h3 {
  color: #153249;
}

.vertical-tabs .figure-caption {
  text-align: center;
}

.hamburger .line {
  width: 25px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 5px auto;
  padding-bottom: 0 !important;
  transition: transform 0.2s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.navbar-toggler[aria-expanded="true"] .line:nth-child(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.icon-plus {
  position: relative;
  min-width: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
}

.icon-plus:before, .icon-plus:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: .2rem;
  background: #000;
  transition: transform .15s ease-in-out;
  border-radius: .1rem;
}

.icon-plus:after {
  transform: rotate(90deg);
}

.btn {
  border-radius: 0;
  font-size: 1.4rem;
  font-weight: 500;
  width: fit-content;
  width: -moz-fit-content;
}

.btn {
  padding: 1rem 3rem;
}

.btn-back {
  color: #153249;
  transition: color 0.15s ease-in-out;
}

.btn-back:focus, .btn-back:active {
  color: #ff3c00;
}

.btn-back i {
  margin-right: 1rem;
}

@media (min-width: 992px) {
  .btn-back:hover {
    color: #ff3c00;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.8;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: calc(1.285rem + 0.42vw);
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (min-width: 1200px) {
  .btn {
    font-size: 1.6rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn:disabled, .btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.dropdown-main .btn {
  padding-left: 0;
  padding-right: 0;
  font-size: 1.7rem;
  font-weight: 800;
  color: #153249;
}

.dropdown-main .btn span {
  text-transform: lowercase;
}

.dropdown-main .btn i {
  margin-left: 1rem;
}

.dropdown-main .dropdown-menu {
  background-color: #ff3c00;
  min-width: 25rem;
  border: none;
  border-radius: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.dropdown-main .dropdown-item {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 2rem;
  padding-right: 2rem;
}

.dropdown-main .dropdown-item:hover, .dropdown-main .dropdown-item:focus, .dropdown-main .dropdown-item:active {
  background-color: transparent;
}

.horizontal-tabs .dropdown-menu,
.vertical-tabs .dropdown-menu {
  width: 100%;
  background-color: #153249;
  margin-top: 0;
  border: none;
  border-radius: 0;
  transform: none !important;
  top: 100% !important;
  max-height: 50vh;
  overflow: auto;
}

.horizontal-tabs .dropdown-item,
.vertical-tabs .dropdown-item {
  color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.3rem;
}

.horizontal-tabs .dropdown-item.active,
.vertical-tabs .dropdown-item.active {
  background-color: #153249;
}

.horizontal-tabs .dropdown [class*="btn-"],
.vertical-tabs .dropdown [class*="btn-"] {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.horizontal-tabs .dropdown [class*="btn-"] i,
.vertical-tabs .dropdown [class*="btn-"] i {
  margin-left: auto;
}

.horizontal-tabs .dropdown h4,
.vertical-tabs .dropdown h4 {
  font-size: 1.8rem;
  padding: 1.5rem 2rem 0rem;
  color: #fff;
}

.collapse-main [data-toggle="collapse"] {
  display: block;
  color: #2e2e2e;
  transition: color 0.15s ease-in-out;
}

@media (min-width: 992px) {
  .collapse-main [data-toggle="collapse"]:hover {
    color: #ff3c00;
  }
}

.collapse-main [data-toggle="collapse"][aria-expanded="true"] {
  color: #ff3c00;
}

.collapse-main .collapse__content {
  padding: 1.5rem 2rem;
  background-color: #fff;
}

.pagination {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .pagination {
    margin-top: 4rem;
  }
}

.pagination .page-link {
  font-weight: 500;
  transition: color 0.15s ease-in-out;
}

.input-main, .input-main-lg, .textarea-main, .textarea-main-lg, .select-main select, .select-main-lg select, .input-group--search .input-search, .input-group--search .input-search--full {
  min-height: 3.5rem;
  height: auto;
  font-size: 1.4rem;
  font-weight: 500;
  color: #2e2e2e;
}

.input-main:focus, .input-main-lg:focus, .textarea-main:focus, .textarea-main-lg:focus, .select-main select:focus, .select-main-lg select:focus, .input-group--search .input-search:focus, .input-group--search .input-search--full:focus {
  color: #2e2e2e;
}

.input-main, .input-main-lg, .textarea-main, .textarea-main-lg, .select-main select, .select-main-lg select {
  border-radius: 0;
  border: none;
}

.input-main-lg, .textarea-main-lg, .select-main-lg select {
  min-height: 5rem;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
}

.input-container--bg {
  padding: 3rem;
  background-color: #476276;
  color: #fff;
}

@media (min-width: 768px) {
  .input-container--bg {
    padding: 6rem;
  }
}

.input-container .row [class*="col-"], .input-container--bg .row [class*="col-"] {
  margin-bottom: 2rem;
}

@media (max-width: 767.98px) {
  .input-container .row:last-child [class*="col-"]:last-child, .input-container--bg .row:last-child [class*="col-"]:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .input-filter-container > * {
    margin-bottom: 4rem;
  }
}

@media (max-width: 767.98px) {
  .input-filter-container > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  .input-filter-container > *:last-child {
    margin-bottom: 2rem;
  }
}

.input-group, .input-group--search {
  position: relative;
}

@media (min-width: 768px) {
  .input-group--search:not(:only-child) {
    max-width: 30rem;
  }
}

.input-group--search i {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  z-index: 10;
  color: #153249;
}

.input-group--search .input-search {
  border-radius: 2rem !important;
  padding-right: 4rem;
  background-color: #f0f0f0;
  border-color: #153249;
}

.input-group--search .input-search--full {
  border-radius: 5rem !important;
  padding-right: 4rem;
  min-height: 5rem;
  background-color: #f0f0f0;
  border-color: #153249;
}

.form-check input[type="checkbox"] {
  display: none;
  height: 0;
}

.form-check input[type="checkbox"]:checked + label::before {
  background-color: #153249;
}

.form-check input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

.form-check input[type="checkbox"] + label {
  cursor: pointer;
  margin-left: -2em;
  padding-left: 4rem;
}

.form-check input[type="checkbox"] + label::before, .form-check input[type="checkbox"] + label::after {
  position: absolute;
  top: 0.4rem;
  left: 0;
  cursor: pointer;
}

.form-check input[type="checkbox"] + label::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  transition: background-color 0.15s ease-in-out;
}

.form-check input[type="checkbox"] + label::after {
  opacity: 0;
  font-size: 2rem;
  color: #fff;
  content: "\f00c";
  font-weight: 400;
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  transition: opacity 0.15s ease-in-out;
}

.select-main, .select-main-lg {
  position: relative;
}

.select-main::before, .select-main-lg::before {
  content: "\f0d7";
  font-weight: 700;
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #2e2e2e;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.select-main select, .select-main-lg select {
  padding-right: 5rem;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.select-main select::-ms-expand, .select-main-lg select::-ms-expand {
  display: none;
}

.select-main select option, .select-main-lg select option {
  color: #2e2e2e;
}

.select-main.select--trans select, .select--trans.select-main-lg select {
  color: rgba(46, 46, 46, 0.7);
}

.list-header--inline-border, .list-header, .list-nav-tab, .list-nav-tab--horizontal, .sticky-sharing {
  list-style: none;
  padding: 0 !important;
}

.pb-text-block ol, .article-body ol:not(.slick-dots) {
  list-style-type: decimal;
}

.pb-text-block ol ol, .article-body ol:not(.slick-dots) ol {
  list-style: lower-alpha;
}

.pb-text-block ol ol ol, .article-body ol:not(.slick-dots) ol ol {
  list-style: lower-roman;
}

.list-header--inline-border li {
  line-height: 1.3;
}

.list-header--inline-border li:not(:last-child) {
  margin-right: 1rem;
  padding-right: 1rem;
}

.list-header--inline-border li:not(:last-child) {
  border-right: solid 0.1rem #fff;
}

.pb-text-block ul, .pb-text-block ol, .article-body ul:not(.slick-dots), .article-body ol:not(.slick-dots) {
  padding: 0 0 0 4rem !important;
}

.list-header--inline-border a {
  color: #fff;
  transition: color 0.15s ease-in-out;
}

.list-header--inline-border a:hover {
  color: #f39d7f;
}

.list-header li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.list-header a {
  font-size: 1.4rem;
  font-weight: 600;
}

@media (min-width: 992px) {
  .list-header a {
    font-size: 1.6rem;
  }
}

@media (max-width: 767.98px) {
  .list-header {
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
  }
}

.list-header--inline-border a {
  padding: 0 !important;
  color: #fff !important;
  font-size: 1.1rem !important;
}

.list-nav-tab {
  flex-direction: column;
}

.list-nav-tab a {
  display: block;
  color: #153249;
  padding: 3rem;
  border: solid 0.1rem transparent;
  transition: border-color 0.15s ease-in-out;
}

.list-nav-tab a:hover {
  border-color: #c6c6c6;
}

.list-nav-tab a.active {
  border-color: #c6c6c6;
}

.list-nav-tab--horizontal li:not(:last-child) {
  margin-right: 10rem;
}

.list-nav-tab--horizontal a {
  display: block;
  color: #153249;
  font-size: 2rem;
  font-weight: 800;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 0.3rem transparent;
  transition: border-color 0.15s ease-in-out;
}

.list-nav-tab--horizontal a:hover {
  border-color: #153249;
}

.list-nav-tab--horizontal a.active {
  border-color: #153249;
}

.sticky-sharing {
  width: 100%;
}

@media (min-width: 768px) {
  .sticky-sharing {
    position: sticky;
    top: 2rem;
    transition: top 0.15s ease-in-out;
  }
  body:not(.nav-hide):not(.nav-hidden) .sticky-sharing {
    top: 13.9rem;
  }
}

@media (min-width: 992px) {
  body:not(.nav-hide):not(.nav-hidden) .sticky-sharing {
    top: 9.5rem;
  }
}

@media (min-width: 768px) {
  .sticky-sharing > li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .sticky-sharing > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

@media (min-width: 992px) {
  .sticky-sharing > li:hover .sticky-sharing__back {
    color: #ff3c00;
  }
  .sticky-sharing > li:hover a:not(.sticky-sharing__back) {
    color: #f0f0f0;
    background-color: #153249;
    border-color: #153249;
  }
}

.sticky-sharing a {
  color: #153249;
}

.sticky-sharing__back {
  transition: color 0.15s ease-in-out;
}

.sticky-sharing__back i {
  margin-right: 1rem;
}

.sticky-sharing a:not(.sticky-sharing__back) {
  width: 4.5rem;
  height: 4.5rem;
  border: solid 0.1rem #707070;
  border-radius: 100%;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.modal .btn-close {
  transition: opacity 0.15s ease-in-out;
}

.slide-show .slick-dots li button {
  border: solid 0.1rem #153249;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.slide-show .slick-dots li button::before {
  content: none;
}

@media (min-width: 992px) {
  .slide-show .slick-dots li:hover button, .slide-show .slick-dots li:focus button {
    background-color: #476276;
  }
}

.slide-show .slick-dots li.slick-active button {
  background-color: #153249;
}

.carousel-container .slick-list {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

@media (min-width: 992px) {
  .carousel-container .slick-list {
    margin-right: -3rem;
    margin-left: -3rem;
  }
}

.carousel-container .slick-slide {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

@media (min-width: 992px) {
  .carousel-container .slick-slide {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

.carousel-text__text-box {
  padding: 1.5rem 2rem;
  background-color: #A7BBC7;
  color: #FAF3F3;
}

.pb-text-block h1,
.pb-text-block h2,
.pb-text-block h3,
.pb-text-block h4,
.pb-text-block h5 {
  margin-bottom: 1.5rem;
}

.pb-text-block h2 {
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  .pb-text-block h1 {
    font-size: 4rem;
  }
  .pb-text-block h2 {
    font-size: 3rem;
  }
}

.pb-text-block ul,
.pb-text-block ol {
  list-style: initial;
  margin: initial;
  margin-bottom: 2.5rem !important;
}

@media (min-width: 768px) {
  .pb-text-block ul,
  .pb-text-block ol {
    padding: 0 0 0 5rem;
  }
}

.pb-text-block ul li,
.pb-text-block ol li {
  display: list-item;
}

.pb-text-block ul {
  list-style: square;
}

@media (max-width: 767.98px) {
  .pb-block-images .row [class*="col-"]:not(:last-child), .pb-block-columns .row [class*="col-"]:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .pb-block-images .img-half-size {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 992px) {
  .pb-block-images .img-half-size {
    padding-left: 153.33333px;
    padding-right: 153.33333px;
  }
}

@media (min-width: 1200px) {
  .pb-block-images .img-half-size {
    padding-left: 190px;
    padding-right: 190px;
  }
}

.figure-caption {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  line-height: 1.3;
}

.img-portrait-size .figure-caption {
  max-width: 69rem;
  margin: 0.7rem auto 0;
}

.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5 {
  color: #153249;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .article-body h2 {
    font-size: 3.2rem;
  }
}

.article-body ul:not(.slick-dots),
.article-body ol:not(.slick-dots) {
  list-style: initial;
  margin: initial;
  margin-bottom: 2.5rem !important;
}

@media (min-width: 768px) {
  .article-body ul:not(.slick-dots),
  .article-body ol:not(.slick-dots) {
    padding: 0 0 0 5rem;
  }
}

.article-body ul:not(.slick-dots) li,
.article-body ol:not(.slick-dots) li {
  display: list-item;
}

.article-body ul:not(.slick-dots) {
  list-style: square;
}

.call-out {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 0.4rem #153249;
}

.text-block {
  margin-bottom: 2.5rem;
}

.slide-show {
  margin-bottom: 5.5rem !important;
}
/*# sourceMappingURL=main.css.map */