// Color
$ad-primary: #153249;
$ad-l-primary: #476276;
$ad-secondary: #ff3c00;
$ad-l-secondary: #f39d7f;
$ad-tertiary: #99c8c5;
$ad-d-tertiary: #92b0bf;
$ad-dark: #2e2e2e;
$ad-l-dark: #707070;
$ad-light: #f0f0f0;
$ad-d-light: #c6c6c6;
$ad-link-hover: #a73411;

$wd-primary: #da7f8f;
$wd-light: #faf3f3;
$wd-dark: #a7bbc7;
$wd-l-dark: #e1e5ea;

// Content
$hero-image: "https://picsum.photos/id/1005/1000";
$wd-count: "https://picsum.photos/id/1010/600";
$wd-hope: "https://picsum.photos/id/1025/600";
