// Color
$ad-primary: #153249;
$ad-l-primary: #476276;
$ad-secondary: #ff3c00;
$ad-l-secondary: #f39d7f;
$ad-tertiary: #99c8c5;
$ad-d-tertiary: #92b0bf;
$ad-dark: #2e2e2e;
$ad-l-dark: #707070;
$ad-light: #f0f0f0;
$ad-d-light: #c6c6c6;
$ad-link-hover: #a73411;

$wd-primary: #DA7F8F;
$wd-light: #FAF3F3;
$wd-dark: #A7BBC7;
$wd-l-dark: #E1E5EA;

// Reset
$font-size-base: 1.6rem;

// $headings-font-family:        null;
// $headings-font-style:         null;
// $headings-font-weight:        500;

$line-height-base: 1.8;
// $line-height-sm:              1.25;
// $line-height-lg:              2;

// $h1-font-size:                $font-size-base * 2.5;
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.75;
// $h4-font-size:                $font-size-base * 1.5;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;

// Spacing
$spacing: 15;
$max: 6rem;
$spacer: 1rem !default;
$spacers: make-space($spacing);

// Grid Spacing
$grid-gutter-width: 3rem !default;

// Overlay
$overlays: 6;

// Navigation transition duration
$nav-duration: 0.35s;

// Banner full screen max height for screen > 1600px
$banner-max-height: 85rem;

// Measure to bottom of navigation
$bottom-navigation: 0;

// Breadcrumb
$breadcrumb-padding-y: 1rem;
$breadcrumb-divider: quote("\f054");

// Pagination
$pagination-bg: transparent;
$pagination-color: $ad-primary;
$pagination-border-width: 0;
$pagination-border-radius: 0;

$pagination-focus-color: $ad-primary;
$pagination-focus-bg: transparent;

$pagination-hover-color: $ad-secondary;
$pagination-hover-bg: transparent;

$pagination-active-color: $ad-secondary;
$pagination-active-bg: transparent;

// Modal
$btn-close-color: $ad-secondary;
$btn-close-opacity: 1;
$btn-close-hover-opacity: 0.5;
$btn-close-focus-opacity: 1;

$modal-header-border-width: 0;

// Slick
$slick-dots-color: $wd-l-dark;
$slick-dots-active-color: $wd-primary;

// Content
$hero-image: "https://picsum.photos/id/1005/1000";