{% extends './layout/_base.twig' %}

{% block content %}

	<div class="container-fluid full-page">
		<div class="row">
			<div class="col-lg-6 col-xxl-7 full-page__bg oly--40">
				<div class="full-page__heading">
					<p>The Wedding Of</p>
					<h1>
						<span>Toni</span>
						<span>&amp;</span>
						<span>Fatimah</span>
					</h1>
					<p>February 11<sup>th</sup>
						2021</p>
				</div>
			</div>
			<div class="col-lg-6 col-xxl-5 full-page__content">

				<div class="mb-8 full-page__carousel">
					<h2>Gallery</h2>
					{% include './blocks/carousel/_carousel-text.twig' %}
				</div>

				<div class="my-8 full-page__location">
					<h2>Location</h2>
					<div class="ratio ratio-16x9">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15813.792061123524!2d110.4142924!3d-7.74221105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f7e53e164e1217e!2sMitro%20kopi%20jogja!5e0!3m2!1sen!2sid!4v1629300849371!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aspernatur tenetur esse quo perspiciatis minus perferendis iure enim, quasi doloribus suscipit eaque, sint deserunt corporis! Cupiditate accusantium, quia praesentium in obcaecati repellat consequatur provident porro repellendus eveniet ratione aperiam laudantium nulla saepe minus odio commodi veniam voluptas voluptatem, deserunt nobis nisi reprehenderit blanditiis sunt? Quibusdam reprehenderit perspiciatis voluptatibus soluta libero quidem itaque, dolore molestias voluptatum eaque totam quam recusandae exercitationem pariatur sapiente sequi sit molestiae vel eveniet quae neque voluptatem fugiat quas. Dignissimos praesentium quam asperiores optio! Ipsa nobis cupiditate quas nihil odit tempore? Reprehenderit, fuga nostrum ea sequi similique itaque accusamus veniam dolores sint dicta facere neque voluptatem inventore repellendus quaerat at cumque laboriosam aliquam rem laborum? Animi aspernatur tenetur maxime quaerat. Neque minus hic nulla maxime alias porro beatae iure, delectus voluptatem optio dolor explicabo quod asperiores eius magni ratione ea temporibus doloribus quis? Quas natus, molestias delectus blanditiis animi minus at quod amet itaque assumenda excepturi ex similique, unde maiores expedita, neque repellendus sapiente optio minima illum? Necessitatibus suscipit labore dolores, ipsa consectetur doloribus perspiciatis voluptates nisi cumque voluptate non maiores, accusantium totam velit beatae perferendis molestiae sequi tempore maxime atque laudantium? Eos atque quisquam obcaecati maxime?</p>

			</div>
		</div>
	</div>

{% endblock %}
