<!-- List of page builder -->

<!-- Text block-->
<!-- Add one of these class if client wanted a slimmer container:
        -- "container-slim--1col"
        -- "container-slim--2col"
    -->
	<div class="mt-8 mb-8 container container-slim--2col pb-text-block"> <h1>This is H1 title</h1>

	<p>Atque delectus doloribus dolorum, eius, explicabo fuga fugit id laudantium maiores, minima molestiae nobis non porro quam sapiente sit voluptas. Accusamus aspernatur atque incidunt, sapiente totam voluptatem! A asperiores cum cumque fugiat itaque magni, molestiae numquam perferendis saepe, sapiente sequi tempore temporibus voluptatem.
	</p>
	<p>Atque delectus doloribus dolorum, eius, explicabo fuga fugit id laudantium maiores, minima molestiae nobis non porro quam sapiente sit voluptas. Accusamus aspernatur atque incidunt, sapiente totam voluptatem! A asperiores cum cumque fugiat itaque magni, molestiae numquam perferendis saepe, sapiente sequi tempore temporibus voluptatem.
	</p>

</div>


<div class="mt-8 mb-8 container pb-text-block">

	<div class="pb-text-block">
		<h1>This is H1 title</h1>

		<p>Atque delectus doloribus dolorum, eius, explicabo fuga fugit id laudantium maiores, minima molestiae nobis non porro quam sapiente sit voluptas. Accusamus aspernatur atque incidunt, sapiente totam voluptatem! A asperiores cum cumque fugiat itaque magni, molestiae numquam perferendis saepe, sapiente sequi tempore temporibus voluptatem.
		</p>
		<p>Atque delectus doloribus dolorum, eius, explicabo fuga fugit id laudantium maiores, minima molestiae nobis non porro quam sapiente sit voluptas. Accusamus aspernatur atque incidunt, sapiente totam voluptatem! A asperiores cum cumque fugiat itaque magni, molestiae numquam perferendis saepe, sapiente sequi tempore temporibus voluptatem.
		</p>

		<ul>
			<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium
				<ul>
					<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium
						<ul>
							<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
							<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
							<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
						</ul>
					</li>
					<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
					<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
				</ul>
			</li>
			<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
			<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
			<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
		</ul>

		<p>Atque delectus doloribus dolorum, eius, explicabo fuga fugit id laudantium maiores, minima molestiae nobis non porro quam sapiente sit voluptas. Accusamus aspernatur atque incidunt, sapiente totam voluptatem! A asperiores cum cumque fugiat itaque magni, molestiae numquam perferendis saepe, sapiente sequi tempore temporibus voluptatem.
		</p>

		<ol>
			<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium
				<ol>
					<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium
						<ol>
							<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
							<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
							<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
						</ol>
					</li>
					<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
					<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
				</ol>
			</li>
			<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
			<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
			<li>Alias amet culpa dolores eveniet illo labore mollitia odio possimus quaerat reprehenderit? Ab accusamus accusantium</li>
		</ol>

		<p>Atque delectus doloribus dolorum, eius, explicabo fuga fugit id laudantium maiores, minima molestiae nobis non porro quam sapiente sit voluptas. Accusamus aspernatur atque incidunt, sapiente totam voluptatem! A asperiores cum cumque fugiat itaque magni, molestiae numquam perferendis saepe, sapiente sequi tempore temporibus voluptatem.
		</p>

		<h2>This is H2 title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur cupiditate, eligendi fuga iste labore laborum nam numquam optio perspiciatis, provident quas.</p>
		<h3>This is H3 title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur cupiditate, eligendi fuga iste labore laborum nam numquam optio perspiciatis, provident quas.</p>
		<h4>This is H4 title</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur cupiditate, eligendi fuga iste labore laborum nam numquam optio perspiciatis, provident quas.</p>
		<h5>This is H5 title</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur cupiditate, eligendi fuga iste labore laborum nam numquam optio perspiciatis, provident quas.</p>
	</div>

</div>
<!-- End Text block-->

<!-- Text block with image on left or right-->
<div class="mt-8 mb-8 container pb-text-block">
	<div class="pb-text-block pb-text-img">
		<div
			class="row">
			<!-- Need to allow the client to choose the image left or right align. By default the image is right align, if they choose to have the image left align, we need to add order-md-12 on col-md-9 and order-md-1 on col-md-3-->

			<div class="col-md-9">
				<h1>This is H1 title</h1>
				<p>Atque delectus doloribus dolorum, eius, explicabo fuga fugit id laudantium maiores, minima molestiae nobis non porro quam sapiente sit voluptas. Accusamus aspernatur atque incidunt, sapiente totam voluptatem! A asperiores cum cumque fugiat itaque magni, molestiae numquam perferendis saepe, sapiente sequi tempore temporibus voluptatem.
				</p>
			</div>
			<div class="col-md-3 pb-block-images">
				<picture>
					<source srcset="https://picsum.photos/id/1029/250" media="(min-width: 768px)">
					<img src="https://picsum.photos/id/1029/250" alt="" class="img-fluid">
				</picture>
			</div>
		</div>
	</div>
</div>
<!-- End Text block with image on left or right-->

<!-- Single image. Add class img-half-size for half height of the image.
    For img-full-size image size we only resize the width and height will be auto.
        Desktop: 1110 x whatever size
        Mobile: 690 x whatever size
     -->
<div class="mt-8 mb-8 container pb-block-images">
	<div class="img-full-size img-half-size">
		<picture>
			<source srcset="https://picsum.photos/id/1038/1100/694" media="(min-width: 992px)">
			<img src="https://picsum.photos/id/1038/690/432" alt="" class="img-fluid">
		</picture>
		<div class="figure-caption">This is a caption. This is a caption. This is a caption. This is a caption. This is a caption. This is a caption.</div>
	</div>
</div>
<!-- End Single image full size -->

<!-- 2 column image.
        Desktop: 640 4 whatever size
        Mobile: 400 x whatever size
     -->
<div class="mt-8 mb-8 container pb-block-images">
	<div class="img-2col">
		<div class="row">
			<div class="col-sm-6">
				<picture>
					<source srcset="https://picsum.photos/id/1038/640/438" media="(min-width: 992px)">
					<img src="https://picsum.photos/id/1038/400/250" alt="" class="img-fluid">
				</picture>
				<div class="figure-caption">This is a caption. This is a caption. This is a caption. This is a caption. This is a caption. This is a caption.</div>
			</div>
			<div class="col-sm-6">
				<picture>
					<source srcset="https://picsum.photos/id/1038/640/438" media="(min-width: 992px)">
					<img src="https://picsum.photos/id/1038/400/250" alt="" class="img-fluid">
				</picture>
				<div class="figure-caption">This is a caption. This is a caption. This is a caption. This is a caption. This is a caption. This is a caption.</div>
			</div>
		</div>
	</div>
</div>
<!-- End 2 column image -->

<!-- Portrait Image.
        Desktop and Mobile: 690 x whatever size
     -->
<div class="mt-8 mb-8 container pb-block-images">
	<div class="img-portrait-size">
		<picture>
			<source srcset="https://picsum.photos/id/1038/690/863" media="(min-width: 992px)">
			<img src="https://picsum.photos/id/1038/690/863" alt="" class="img-fluid">
		</picture>
		<div class="figure-caption">This is a caption. This is a caption. This is a caption. This is a caption. This is a caption. This is a caption.</div>
	</div>
</div>
<!--End Portrait Image-->

<!-- End list of page builder -->


<div class="mt-8 mb-8 container">
	<div class="slide-show">
		{% for i in 0..5 %}
			<div class="item">
				<picture>
					<source srcset="https://picsum.photos/id/1038/1500/500" media="(min-width: 1400px)">
					<source srcset="https://picsum.photos/id/1038/1100/500" media="(min-width: 768px)">
					<img src="https://picsum.photos/id/1038/800/500" alt="" class="img-fluid">
				</picture>
				{# <p class="item__caption">This is caption. This is caption. This is caption. This is caption. #}
				{# </p> #}
			</div>
		{% endfor %}

	</div>
</div>
