%base-button {
    @extend %ff-poppins, %justify-content-center, %align-items-center;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 500;
    width: fit-content;
    width: -moz-fit-content;
}

%btn-base-padding {
    padding: 1rem 3rem;
}

%btn-back {
    color: $ad-primary;
    @include focus-active() {
        color: $ad-secondary;
    }

    i {
        margin-right: 1rem;
    }

    @include make-transition(color);
    @include media-breakpoint-up(lg) {
        @include hover() {
            color: $ad-secondary;
        }
    }
}

//
// Base styles
//

.btn {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-color;
    text-align: center;
    text-decoration: if($link-decoration == none, null, none);
    white-space: $btn-white-space;
    vertical-align: middle;
    cursor: if($enable-button-pointers, pointer, null);
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;
    @include button-size(
        $btn-padding-y,
        $btn-padding-x,
        $btn-font-size,
        $btn-border-radius
    );
    @include transition($btn-transition);

    &:hover {
        color: $body-color;
        text-decoration: if($link-hover-decoration == underline, none, null);
    }

    .btn-check:focus + &,
    &:focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    .btn-check:checked + &,
    .btn-check:active + &,
    &:active,
    &.active {
        @include box-shadow($btn-active-box-shadow);

        &:focus {
            @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        }
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
}

.btn {
    @extend %base-button, %btn-base-padding;

    &-container {
        &.text-right [class*="btn-"],
        [class*="btn-"]:not(:last-child) {
            @extend %me-1;
        }

        [class*="btn-"] {
            @extend %mb-1;
        }
    }

    &-back {
        @extend %btn-back;
    }
}
