.container {
    &-slim {
        &--1col {
            @include make-container-slim();
        }
        &--2col {
            @include make-container-slim(2);
        }
        &--3col {
            @include make-container-slim(3);
        }
    }
}

.content {
    &-slim {
        &--1col {
            @include make-container-slim($in-container: true);
        }

        &--2col {
            @include make-container-slim(2, $in-container: true);
        }
    }

    &-offset {
        &--1col {
            @include content-offset(1, 3);
        }
    }

    &--full-size {
        background-color: $wd-primary;
        color: $wd-light;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding: 1.5rem;

        @include media-breakpoint-up(md) {
            margin-left: -3rem;
            margin-right: -3rem;
            padding: 3rem;
        }
    }
}
