<div class="modal fade{{ modal_add_css ? ' ' ~ modal_add_css }}" id="{{ modal_id }}" data-bs-keyboard="true" tabindex="-1" aria-labelledby="{{ modal_id }}_label" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{ modal_title }}</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div
				class="modal-body">

				{# Modal Content #}
				{% block modal_content %}{% endblock %}
				{# End Modal Content #}

			</div>
		</div>
	</div>
</div>
