{% extends './blocks/modal/_base-modal.twig' %}

{% set modal_id = 'modal_test' %}
{# {% set modal_add_css = 'show d-block' %} #}

{% block modal_content %}
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quia magni vero ea autem? Pariatur odio, cupiditate molestiae voluptas sapiente, quasi aspernatur non totam nobis delectus ullam laudantium, possimus facilis!</p>
{% endblock %}
